<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get real-time alerts on BZ/MX exchange rates. Subscribe to stay updated and make the most of your purchases in Chetumal, Mexico.">
    <meta name="keywords" content="Belize, Mexico, Exchange Rate, Currency, Alerts, Chetumal">
    <meta name="author" content="Holdyah">
    <title>Exchange Rate Alerts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('partials/menu') %>
    <div class="container text-center pt-4">
        <%- include('partials/holdyah-logo') %>
        <div class="row g-4">
            <div class="col-md-6 d-none d-md-block">
                <div class="image-container w-100"></div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <h2 class="mb-3">BZ-MX Currency Exchange Alerts</h2>
                    <form action="/subscribe" method="POST" class="mb-3">
                        <input type="email" class="form-control mb-2" name="email" placeholder="Enter email to subscribe" required>
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                    <form action="/unsubscribe" method="POST" class="mb-3">
                        <input type="email" class="form-control mb-2" name="email" placeholder="Enter email to unsubscribe" required>
                        <button type="submit" class="btn btn-outline-danger">Unsubscribe</button>
                    </form>
                    <div class="alert text-center" style="<%= 'color:' + exchangeRateMessage.color %>; font-weight: bold;">
                        <%= exchangeRateMessage.text %>
                    </div>
                    <a href="/disclaimer" class="btn btn-link">Read Disclaimer</a>
                </div>
            </div>
        </div>

        <%- include('partials/partners') %>
    </div>
    <script src="./menu-toggle.js"></script>
</body>
</html>
